name: CI/CD Deploy to K8s

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    # Docker Hub-ga kirish
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    # Imijni build qilish va push qilish
    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: 5969989/k8s-site:latest

    # Kubernetes bilan bog'lanish
    - name: Set up K8s context
      uses: azure/k8s-set-context@v3
      with:
        method: kubeconfig
        kubeconfig: ${{ secrets.KUBE_CONFIG }}

    # K8s-da imijni yangilash
    - name: Deploy to Kubernetes
      run: |
        # Deploymentdagi imijni yangi imijga almashtiramiz
        kubectl set image deployment/my-website nginx=5969989/k8s-site:latest
        # Yangilanishni majburlash (rollout)
        kubectl rollout restart deployment/my-website
